* {
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

body.dark-theme {
  background-color: #000000;
  color: white;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.checkbox-container {
  display: flex;
  justify-content: center;
}

.options {
  line-height: 25px;
}

.btn-light {
  padding: 0;
  width: max-content;
  border-radius: 10px;
  font-size: 8px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.btn-dark {
  padding: 0;
  width: max-content;
  border-radius: 10px;
  font-size: 8px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.btn-light:hover {
  background-color: rgb(240, 240, 240);
}

.btn-dark:hover {
  background-color: rgb(50, 50, 50);
}

.icon {
  height: 5vh;
  width: auto;
}

.container {
  display: flex;
  width: 50%;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  padding-top: 5%;
  text-align: center;
}

.btn {
  background-color: #41aea9;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.8rem;
  cursor: pointer;
  margin: 10px;
}

button:hover {
  background-color: #34837f;
}

span {
  text-transform: capitalize;
}

.lowercase {
  text-transform: lowercase;
}

.capitalize {
  text-transform: capitalize;
}

footer {
  margin-top: 5%;
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #34837f;
}

.gh-logo {
  display: inline-block;
  position: relative;
  top: 2px;
}

@keyframes challenge-transition {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes transition-delayed {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animation {
  animation: challenge-transition 1s linear;
}

.animation-delayed {
  opacity: 0;
  animation: transition-delayed 0.5s forwards;
  animation-delay: 0.5s;
}

@media screen and (max-width: 750px) {
  .prompt {
    font-size: 1.2rem;
  }
}
