* {
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

body.dark-theme {
  background-color: #000000;
  color: white;
}

.btn-light {
  padding: 0;
  width: 5vw;
  border-radius: 10px;
  font-size: 8px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.btn-dark {
  padding: 0;
  width: 5vw;
  border-radius: 10px;
  font-size: 8px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.btn-light:hover {
  background-color: rgb(240, 240, 240);
}

.btn-dark:hover {
  background-color: rgb(50, 50, 50);
}

.icon {
  height: 5vh;
  width: auto;
}

.container {
  display: flex;
  width: 50%;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  padding-top: 5%;
  text-align: center;
}

.btn {
  background-color: #41aea9;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #34837f;
}

span {
  text-transform: capitalize;
}

.lowercase {
  text-transform: lowercase;
}

.capitalize {
  text-transform: capitalize;
}

footer {
  margin-top: 5%;
  text-align: center;
}
